* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,
body {
    scroll-behavior: smooth;
    width: 100%;
    user-select: none;
    height: 100%;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    user-select: none;
}
.container form {
    display: flex;
    flex-direction: column;
}
.container label {
    font-size: large;
    margin: 0 4px;
}
.slider_1 {
    transform: translate(8px, 30px);
    transition: transform ease-in-out 0.4s;
}
.slider_2 {
    transform: translateX(8px);
}
.container input {
    margin: 0 4px;
    width: 23vw;
    height: 30px;
    font-size: medium;
    background: linear-gradient(to right, grey, white);
    border: none;
    outline: none;
    border-radius: 10px;
}
.submitButton {
    border: none;
    border-bottom: 2px solid rgb(38, 206, 236);
    border-radius: 5px;
    margin: 20px 0;
    font-size: 15px;
    height: 25px;
    width: 100%;
    background: linear-gradient(to right, grey, white, grey);
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
.submitButton:hover {
    background: black;
    color: white;
    height: 27px;
    box-shadow: 2px 3px 1px #000;
}