<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XYZ SUPERMARKET</title>
    <link rel="stylesheet" href="../static/style_1.css">
</head>

<body>
    <div class="container">
        <nav class="navbar">
            <section class="logo">
                <img src="../static/img2.jpeg" alt="">
            </section>
            <section>
                <ul class="navlist">
                    <li><a class="item" href="#home">Home</a></li>
                    <li><a class="item" href="#services">Services</a></li>
                    <li><a class="item" href="/">Shopping</a></li>
                    <li><a class="item" href="#contact">Contact</a></li>
                    <li><a class="item" href="#about">About</a></li>
                </ul>
            </section>
            <section class="login">
                <button type="button" id="login_btn">Sign In</button>
            </section>
        </nav>
        <div id="home">
            <div class="pt_1">
                <h2>welcome to</h2>
                <h1>XYZ SUPERMARKET</h1>
                <P>There is the most selling and reliable product in your area.
                    <span>We introduce sales, offers heavy discount on our products, </span>
                    our product are highly recomended, grossings and demanded.
                    Our Supermarket provide online facility thus anyone can search and add product to their cart from
                    their home at very low cost ♣
                    <strong> You can return any product in case of expiry, damage or other issuse.</strong>
                </P>
            </div>
            <div class="pt_2">
                <img src="../static/img3.jpeg" alt="">
            </div>
        </div>
        <div class="product_gallery">
             <!-- <img src="" alt="XYZ SUPERMARKET">
             <img src="" alt="XYZ SUPERMARKET">
             <img src="" alt="XYZ SUPERMARKET">
             <img src="" alt="XYZ SUPERMARKET">
             <img src="" alt="XYZ SUPERMARKET">
             <img src="" alt="XYZ SUPERMARKET">
             <img src="" alt="XYZ SUPERMARKET">
             <img src="" alt="XYZ SUPERMARKET"> -->
        </div> 
        <div class="services">
        </div>
        <div class="sponsers">
        </div>
        <div class="contact">
        </div>
        <div class="about">
        </div>
        <div class="greet">Thank You for visiting us <span>Come Back again❤️.</span>
        </div>
        <footer>
            Copyright &copy; | All right reserved.
        </footer>
    </div>
    <script src="../static/script.js"></script>
</body>
</html>
